<div class="mySpecies">
    <div class="container-fluid">
        <div class="row optionsRow">
          <div class="col-sm-3">
              
          </div>
          <div class="col-sm-6">
              <button type="button" class="btn btn-primary">Add a lifer <i class="fas fa-dove"></i></button>
          </div>
          <div class="col-sm-3">
          </div>
        </div>
      </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Species Name</th>
          <th scope="col">Species Scientific Name</th>
          <th scope="col">Place</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of message; let i = index">
          <td>{{i+1}}</td>
          <td>{{item.speciesId.name}}</td>
          <td>{{item.speciesId.scientificName}}</td>
          <td>{{item.Place}}</td>
        </tr>
      </tbody>
    </table>
</div>
